


/* nav style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
}
nav ul{
    display: flex;
    margin-right: 50px;
    align-items: center;
    
}
nav li>a{
    text-decoration: none;
    color: #474747;
    

}
nav li{
    list-style: none;
    margin-right: 50px;
}

.nav_title{
    font-weight:800;
    font-size: 45px;
}

/* shared color */
.single_color{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.button{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    width: 130px;
    height: 50px;
    color: aliceblue;
    font-weight: 800;
}





/* Google font */

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}